.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

li {
    color:whitesmoke;
    font-size: larger;
    list-style-type: none;
}

.movie-title {
    font-weight: bolder;
}
.movie-tagline {
    color: gray;
}

.btn {
    margin-top: 10%;
    margin-bottom: 10%;
}

span {
    align-content: center;
}